*{
    margin: 0;
    padding :  0;
}
body{
    background: #222;
    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;

}
input:focus{
    background: #000;
    transform: scale(1.1);

}


.price input{
    width: 19%;
    text-align: center;

}

#total{
    background: rgb(171, 41, 41);
}
#deleteAll{
    margin: 20px 0;
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor:  pointer;
    background: rgb(105, 13, 109) ;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background: rgb(134, 47, 132);
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;

}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}